---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Workout Plan">
	<div class="flex gap-7 text-right mt-14 mr-4  text-orange-500 flex-col  text-3xl font-bold">
		<a href="/monday">Monday</a>
		<a href="/tuesday">Tuesday</a>
		<a href="/wednesday">Wednesday</a>
		<a href="/thursday">Thursday</a>
		<a href="/friday">Friday</a>
		<a href="/saturday">Saturday</a>
	</div>
</Layout>